<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe Home</title>
</head>
<body>
<h1>My Recipes!</h1>

<table>
    <tr>
        <th>Description</th>
        <th>Prep Time</th>
        <th>Difficulty</th>
    </tr>
    <tr th:each="recipe : ${recipes}">
        <td th:text="${recipe.description}">Perfect Guacamole</td>
        <td th:text="${recipe.prepTime}">10</td>
        <td th:text="${recipe.difficulty}">EASY</td>
    </tr>
</table>

</body>
</html>